<!DOCTYPE html>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="./../web/css/style_index.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
	<script src="{{url_path}}/newproject/vendor/components/jquery/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<title>{% block title %}Test Application{% endblock %}</title>
	<body>
	<div class="container">
		<div class="row text-center topbarr">
		  	<div class="col-md-5 col-md-offset-1 barsize">
			  <div class="col-md-6 barsize top-buffer1"><a href="{{url_path}}/newproject/web/index.php?p=contact">Nous contacter</a></div>
			  <div class="col-md-1 barsize top-buffer1"><a href="{{url_path}}/newproject/web/index.php?p=fb_page"><div class="linkfb" style="margin:auto;"></div></a></div>
			</div>
		  <div class="col-md-3 col-md-offset-2 barsize top-buffer1"><a href="{{url_path}}/newproject/web/index.php?p=help">Besoin d'aide ?</a></div>
		</div>

		<div class="container row bar1">
		  	<div class="row top-buffer2">
			  <div class="col-md-4 col-md-offset-1 top-buffer1 text-center"><a href ="{{url_path}}/newproject/web/index.php">LOGO</a></div>
			  <div class="col-md-5 col-md-offset-1 loglink text-center">
				<div class="col-md-5 text-right itemloglink barloglink">
					
					{% if email_address is defined %}
					<a href ="{{url_path}}/newproject/web/index.php?p=user_page">{{email_address}}</a>
					{% else %}
					<a href="{{url_path}}/newproject/web/index.php?p=login">Se connecter</a>
					{% endif%}
				</div>
				<div class="col-md-7 text-left itemloglink otherlink">
					{% if email_address is defined %}
						{% if avatar_path is defined %}
						<img src="{{url_path}}/newproject/web/{{session.path}}" style="width:80px;height:80px;" alt="Your profile picture suddenly disapeared ?!"> 
						{% else %}
						<img class="col-md-offset-3" src="{{root_path}}/newproject/web/images/avatar/default_pic.jpg" style="width:80px;height:80px;margin-top:-25px;">
						{% endif %}
					{% else %}
					<a href ="{{url_path}}/newproject/web/index.php">S'inscrire</a>
					{% endif%}
					<div class="col-md-offset-2 littletext logoutlink" style="position:absolute;top:0;right:-20px;">
					{% if email_address is defined %}
						<a href ="{{url_path}}/newproject/web/index.php?p=logout ">Fermer la session</a>
					{% endif%}
					</div>
				</div>


			  </div>
			  				
			</div>
		</div>
		<div class="container row bar2 text-center">
			<h2 class="phrase top-buffer3">Phrase d'accroche<h2><br>
			<div class="undertitle">Livraison à emporter / Temps de livraison / Nb Restaurants part</div>
			<div class="row top-buffer col-md-10 col-md-offset-1 middd">
				{% if methode=='logUser' %}

				{% include 'user/form_logUser.html.twig' %}

				{% elseif methode=='loggedUser' %}

				{% include 'user/form_logUser.html.twig' %}

				{% elseif methode=='showUser' %}

				{% include 'user/user_page.html.twig' %}
        		
        		{% else %}

        		{% include 'user/form_addUser.html.twig' %}

        		{% endif %}
        	</div>
		</div>
	</div>




		<div class="container">
			<h1> WELCOME GOLEFOY </h1><br>
			<div class ="sidebar">
				{% block sidebar %}
					<a href ="{{url_path}}/newproject/web/index.php?p=user">show user</a><br>
					<a href ="{{url_path}}/newproject/web/index.php?p=users_list">List user in users</a><br>
					<a href ="{{url_path}}/newproject/web/index.php?p=add_user ">Form for add user in users</a><br>
					<a href ="{{url_path}}/newproject/web/index.php?p=add_userinfo ">Form for add user info</a><br>
					<a href ="{{url_path}}/newproject/web/index.php?p=add_avatar ">Form for add user avatar</a><br>
					<a href ="{{url_path}}/newproject/web/index.php?p=del_user ">Form for del user in users</a><br>
					<a href ="{{url_path}}/newproject/web/index.php?p=log_user ">Form for log user in users</a><br>
					<a href ="{{url_path}}/newproject/web/index.php?p=logout ">Clic for logout. q+</a><br><br>

					<a href ="{{url_path}}/newproject/web/index.php?p=products_list">list products</a><br>
					<a href ="{{url_path}}/newproject/web/index.php?p=product">show product</a><br>
					<a href ="{{url_path}}/newproject/web/index.php?p=add_product">add product</a><br>
					<a href ="{{url_path}}/newproject/web/index.php?p=del_product">del product</a><br>


				{% endblock %}
				{{dump(session)}}
				<div>User:{{ session.user }} 
				{% if session.path!= null %}
				 <img src="{{url_path}}/newproject/web/{{session.path}}" style="width:80px;height:80px;" alt="Your profile picture suddenly disapeared ?!"> <a href ="{{url_path}}/newproject/web/index.php?p=card_list">list products in your card</a> 
				 <a href ="{{url_path}}/newproject/web/index.php?p=user_page">show profile</a><br>

				 {% endif %}
				</div>
			</div>
			<div id="content">
		            {% block body %}{% endblock %}
		    </div>
			<div id="notif">
		            {% block notif %}{% endblock %}
		    </div>
		    <div id="confirm">
		            {% block confirm %}{% endblock %}
		    </div>
		
	</body>

