{% include 'index.html.twig' %}
{% block body %}


    <div>Nom : {{product.name}}</div>
    <div>Price : {{product.price}}</div>
    <div>Description : {{product.description}}</div>
    <div>Indice Calorique : {{product.kcal_ind}}</div>

    {% if product.path_image!= null %}
		 <img src="{{url_path}}/newproject/web/{{product.path_image}}" style="width:80px;height:80px;"> 
	{% endif %}


{% if methode == "showProductPage" %}

	<form method="POST" action="index.php?p=addtocard"> 
	How much<input type="number" name="nbrproduct" min="0">
	<input type="submit" value="add to card">
	</form>

{% elseif methode == "showDelProductPage" %}

	<form method="POST" action="index.php?p=del_item"> 
	How much<input type="number" name="nbrproduct" min="0">
	<input type="submit" value="remove from card">
	</form>

{% endif %}
{{message}}
{% endblock %}
