{% block body %}
<link rel="stylesheet" type="text/css" href="{{url_path}}/newproject/web/js/weekline/styles/jquery.weekLine.css"/>
<link rel="stylesheet" type="text/css" href="{{url_path}}/newproject/web/js/weekline/styles/cleanslate.css"/>
<link rel="Stylesheet" href="{{url_path}}/newproject/web/js/weekline/timepicker/jquery.timepicker.css" />


    <div>Nom : {{product.name}}</div>
    <div>Price : {{product.price}}</div>
    <div>Description : {{product.description}}</div>
    <div>Indice Calorique : {{product.kcal_ind}}</div>

    {% if product.path_image!= null %}
		 <img src="{{url_path}}/newproject/web/{{product.path_image}}" style="width:80px;height:80px;"> 
	{% endif %}


{% if methode == "showProductPage" %}


<div class="weekselec">Selectionner les jours de livraison
	<span id="weekCal"></span>
</div>
<button data-id="{{id}}" id="btnSelect">Valider</button>  <br>



<form method="POST" action="index.php?p=addtocard" name="calendar">  
<input type="hidden" name="daychoice" value="0">
<div id="time0">
	<div id="timename0"></div>
	<input type="text" id="timepicker0" name="timepikr0">
		<span id="daytimechoice0"></span>
</div>
<br>
<div id="time1"> 
	<div id="timename1"></div>
	<input type="text" id="timepicker1" name="timepikr1">
		<span id="daytimechoice1"></span>
</div>
<br>
<div id="time2">
	<div id="timename2"></div>
	<input type="text" id="timepicker2" name="timepikr2">
		<span id="daytimechoice2"></span>
</div>
<br>
<div id="time3">
	<div id="timename3">
		</div><input type="text" id="timepicker3" name="timepikr3">
		<span id="daytimechoice3"></span>
</div>
<br>
<div id="time4">
	<div id="timename4"></div>
	<input type="text" id="timepicker4" name="timepikr4">
	<span id="daytimechoice4"></span>
</div>
<br>
<input type="submit" value="Envoyer" name="{{id}}" class="btnform">
<span id="return"></span>

</form>
{% endif %}

{{message}}
{% endblock %}
