{% block body %}
	<div class="phrase">Vos abonnements</div>
	<br>
	{{message}}
	<br>
		{% for sub, info in session.card %}

			<div class="">
			<div class="card row">
			<div class="col-md-4">


			<div class="littletext">
				{% if info.subscription.path_image!= null %}

					<img src="{{url_path}}/newproject/web/{{info.subscription.path_image}}" style="width:80px;height:80px;"> 

				{% endif %}
			     
			{% if info.subscription.name is not empty %}

				{{info.subscription.name}} : {{info.subscription.price}}€
			</div>

			
			</div>
			<div class="col-md-4"> 
			{% for day, hour in info.days %}
			<div class="littletext"> {{day}} {{hour}}
			</div>
			{% if day is empty %}

	     		N'oubliez pas de saisir les jours auxquelles vous desirez etre livrer {{info.subscription.name}}
	     	{% else %}


	     	{% endif %}
		{% endfor %}
			</div>
			<div class="col-md-4">

		     <form method="POST" action="index.php?p=subscription">
		 		<input type="hidden" name="p" value="subscription">
		 		<input type="hidden" name="id" value="{{info.subscription.id}}">
		 		<input type="hidden" name="remove" value="{{info.subscription.id}}">
				<input type="submit" value="Modifier les jours de livraison" class="btnupdate top-buffery3">
			</form>
			<form method="POST" action="?p=removeincard">
		 		<input type="hidden" name="p" value="subscription">
		 		<input type="hidden" name="id" value="{{info.subscription.id}}">
		 		<input type="hidden" name="remove" value="{{info.subscription.id}}">
				<input type="submit" value="Supprimer du panier" class="btnupdate top-buffery3">
			</form>


			<br>

			{% else %}

			Le panier est vide

			{% endif %}
			</div>
</div>
		     
</div>

		{% endfor %}

		<form method="POST" action="index.php?p=setcalendar">
			<input type="submit" value="Souscrire" class="btnupdate btnupdatereplace">
		</form>







{% endblock %}