{% include 'index.html.twig' %}
{% block body %}
	List of products in Card : 
	<div> Total card price : {{total_price}}€
	</div>
	<br>
	{% for key, product in products %}
		<div style="border: 1px solid;">
		{% if product.path_image!= null %}
			<img src="./../../newproject/web/{{product.path_image}}" style="width:80px;height:80px;"> 
		{% endif %}
	     {{product.name}} : {{product.price}}€, Quantite : 
	     	{% if product.quantite is empty or product.quantite == '0'  %}
	     		Don't forget to set {{product.name}}'s quantite
	     	{% else %}
	     		{{product.quantite}} 
	     	{% endif %}
	     <br>
	     <a href ="http://localhost:8888/newproject/web/index.php?p=addtocard&id={{key}}">add more to card</a><br> 
	     <a href ="http://localhost:8888/newproject/web/index.php?p=removeincard&id={{key}}">remove from card</a><br> 
	      <a href ="http://localhost:8888/newproject/web/index.php?p=del_item&id={{key}}">lower quantite from card</a><br> 
	     </div>
	{% endfor %}
	{{message}}
{% endblock %}