{% block body %}

<div class="row undertitle endbar">
	<div class="col-md-6">
	    <div>Adresse e-mail: {{user.email_address}}</div>
	    <div>Adresse: {{user.address|default('"..."') }} à {{user.city|default('"Ville"')}}</div>
	    <div>Code Postal Régional: {{user.postal_code}}</div>
	</div>
	<div class="col-md-6">
		<div>Age : {{user.age|default('"..."')}}</div>
	    <div>Sexe : {{user.gender|default('"..."')}}</div>
	    <div>Numéro de Téléphone : {{user.phone_number|default('"..."')}}</div>

	</div>
</div>
<div class="row">
	<div class="col-md-4 col-md-offset-1 top-buffer3">
		<form method="GET" action="index.php">
		 	<input type="hidden" name="p" value="del_user">
			<input type="submit" value="Supprimer le compte" class="btnupdate btnupdatereplace">
		</form>
	</div>
	<div class="col-md-4 col-md-offset-2 top-buffer3">
		<form method="GET" action="index.php">
		 	<input type="hidden" name="p" value="add_userinfo">
			<input type="submit" value="Mettre à jour" class="btnupdate btnupdatereplace">
		</form>
	</div>
</div>

{{message}}
{% endblock %}
