{% include 'index.html.twig' %}
{% block body %}


    <div>Nom : {{user.name}}</div>
    <div>email: {{user.email_address}}</div>
    <div>adresse: {{user.address}} in {{user.city}} in {{user.country}}</div>
    <div>Phone number : {{user.phone_number}}</div>
    <div>Gender : {{user.gender}}</div>
    <div>Age : {{user.age}}</div>



{{message}}
{% endblock %}
